.jfx-decorator {
    -fx-decorator-color: #3700B3;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-opacity: 0;
    -fx-border-width: 0 2 2 2;
}