/* text field */

.text-field {
    -fx-background-color: -fx-text-box-border, white;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, white;
}

/* Table View */

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  white;
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-cell-size: 25;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar track CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6200EE,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar thumb CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6200EE,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}